<div class="fixed inset-0 flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-md w-96 py-10 px-5 rounded-md">
    <div class="">
      <p class="text-green-500 text-center"><%= notice %></p>
      <p class="text-red-400 text-center"><%= alert %></p>
    </div>

    <h1 class="text-center my-4 text-xl text-gray-600 font-bold">
      Admin Panel
    </h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-2">
        <%= f.label :email, class: "text-gray-500" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-md border-gray-300 text-gray-500" %>
      </div>
      <div class="mb-2">
        <%= f.label :password, class: "text-gray-500" %><br>
        <%= f.password_field :password, autocomplete: "false", class: "w-full rounded-md border-gray-300 text-gray-500" %>
      </div>
      <div class="py-3">
        <%= f.submit "Log in", class: "bg-red-500 text-white py-2 rounded-md w-full hover:shadow-md hover:bg-red-600 active:scale-[.99]" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="flex items-center py-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "text-gray-500 ml-2" %>
        </div>
      <% end %>
    <% end %>

    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-red-400" %>
  </div>
</div>
