<!DOCTYPE html>
<html>
  <head>
    <title>Templarius</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="bg-gray-50">
    <div class="bg-white flex w-full items-center justify-between h-14 rounded-md shadow-sm">
      <%= link_to 'Admin Panel', '/', class: 'font-bold text-gray-600 ml-6 text-xl' %>
      <div class="flex items-center">
        <% if current_user %>
          <ul class="text-green-500 pr-5">
            <% current_user.roles.each do |r| %>
              <li>Role: <%= r.name %></li>
            <% end %>
          </ul>
        <% end %>
        <%= link_to "Admin", admin_path, class: "text-gray-600 mr-6" %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-gray-600 mr-6" %>
      </div>
    </div>
  </div>

  <div class="bg-white p-5 rounded-md shadow-sm mx-2 sm:mx-5 mt-3 sm:mt-5 ">
    <%= yield %>
  </div>
</body>
</html>
